@import '../styles/defaults.css';

/* COLORS / FONTS */

:root {
  /* Fonts */
  --font-sans: 'Roboto', Helvetica, Arial, sans-serif;

  /* Backgrounds */
  --back: #FFF;
  --primary: #F4F5F7; 
  --surface: #E5E7EB;  

  /* Text and States */
  --main: #1D2636;      
  --active: #111111;         
  --inactive: #727A8A; 

  /* Buttons and Accents */
  --accent: #D4AF37;       
  --accent-hover: #B8962F;  

  /* Status Colors */
  --success: #008824;
  --error: #D14343;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Backgrounds */
    --back: #000;
    --primary: #12161F;
    --surface: #1F2937;

    /* Text and States */
    --main: #E2E2E9;
    --active: #FFFFFF;
    --inactive: #9CA3AF;

    /* Status Colors */
    --success: #00B33C;
    --error: #F87171;
  }
}

/* SCROLLBAR */

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
    border-radius: none;
    background-color: var(--inactive);
}
::-webkit-scrollbar-thumb:hover { background: var(--main); }

/* ANIMATIONS */

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideIn {
  animation: fadeSlideIn 0.8s ease-in-out both;
}

.animate-imageSlideIn {
  animation: fadeSlideIn 1s ease-in-out both;
  animation-delay: 0.2s;
}